AI Research Report — Email Agent.json
{
  "name": "AI Research Report — Email Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "research-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1e973217-98ec-4f44-b2a6-20cf099433ea",
      "name": "Research Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "4471676c-a533-4d15-94ef-396db81751d0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "topic-field",
              "name": "topic",
              "value": "={{ $json.body?.topic ?? $json.topic ?? \"Unknown Topic\" }}",
              "type": "string"
            },
            {
              "id": "email-field",
              "name": "recipientEmail",
              "value": "={{ $json.body?.email ?? $json.email ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "summary-field",
              "name": "summary",
              "value": "={{ $json.body?.report?.summary ?? $json.report?.summary ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "trends-field",
              "name": "trends",
              "value": "={{ ($json.body?.report?.trends ?? $json.report?.trends ?? []).join(\"\\n\") }}",
              "type": "string"
            },
            {
              "id": "gaps-field",
              "name": "gaps",
              "value": "={{ ($json.body?.report?.gaps ?? $json.report?.gaps ?? []).join(\"\\n\") }}",
              "type": "string"
            },
            {
              "id": "ideas-field",
              "name": "ideas",
              "value": "={{ ($json.body?.report?.ideas ?? $json.report?.ideas ?? []).map(i => i.title + \": \" + i.description).join(\"\\n\\n\") }}",
              "type": "string"
            },
            {
              "id": "sources-field",
              "name": "sources",
              "value": "={{ ($json.body?.report?.sources ?? $json.report?.sources ?? []).join(\"\\n\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3b93bdc5-f5c3-4a44-97f8-4eb05c09d9bd",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "subject-field",
              "name": "subject",
              "value": "={{ \"Research Report: \" + $json.topic }}",
              "type": "string"
            },
            {
              "id": "htmlBody-field",
              "name": "htmlBody",
              "value": "=<h2 style=\"color:#1E40AF;font-family:sans-serif\">Research Report: {{ $json.topic }}</h2><hr style=\"border-color:#E2E8F0\"/><h3 style=\"font-family:sans-serif;color:#334155\">Summary</h3><p style=\"font-family:sans-serif;color:#475569;line-height:1.7\">{{ $json.summary }}</p><h3 style=\"font-family:sans-serif;color:#334155\">Key Trends</h3><pre style=\"font-family:sans-serif;color:#475569;white-space:pre-wrap\">{{ $json.trends }}</pre><h3 style=\"font-family:sans-serif;color:#334155\">Research Gaps</h3><pre style=\"font-family:sans-serif;color:#475569;white-space:pre-wrap\">{{ $json.gaps }}</pre><h3 style=\"font-family:sans-serif;color:#334155\">Project Ideas</h3><pre style=\"font-family:sans-serif;color:#475569;white-space:pre-wrap\">{{ $json.ideas }}</pre><h3 style=\"font-family:sans-serif;color:#334155\">Sources</h3><pre style=\"font-family:sans-serif;color:#475569;white-space:pre-wrap\">{{ $json.sources }}</pre><hr style=\"border-color:#E2E8F0\"/><p style=\"font-family:sans-serif;color:#94A3B8;font-size:12px\">Generated by AI Research Agent · {{ $now.toFormat(\"MMMM d, yyyy\") }}</p>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "1193fc8a-7300-4750-a31c-fb35281851e6",
      "name": "Build Email Body",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.recipientEmail }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.htmlBody }}",
        "options": {}
      },
      "id": "d3f58564-7c16-4c42-bbbd-c24bdb6ea56a",
      "name": "Send Research Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        672,
        0
      ],
      "webhookId": "5cd02682-1242-4760-a082-0b09c96c791c",
      "credentials": {
        "gmailOAuth2": {
          "id": "u4SLEjmQXTY2jLyN",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: \"Report sent to \" + $(\"Normalize Payload\").item.json.recipientEmail }) }}",
        "options": {}
      },
      "id": "09f5ee1a-e60e-4316-9f4c-bdae88670b7e",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        896,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Research Request": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Build Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Body": {
      "main": [
        [
          {
            "node": "Send Research Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Research Report": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "0a1a6abd-c95d-4c3e-adb8-ed4b758937d2",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true,
    "instanceId": "dc2cf12df9634751d8a60d2df5e4b79768fdd6d7007c2ea6ba1c64b997785b0b"
  },
  "nodeGroups": [],
  "id": "daY5LtnDND8kmmFh",
  "tags": []
}